div{
    /* display: inline-block; */
    float: left;
    width: 90px;
    outline: 5px black solid;
    padding: 55px;
    margin: 25px;
    background-color:rgba(129, 129, 129, 0.503);
    font-size: 26px;
    font-weight: bold;
}
.first{
    border: 5px red solid;
}
.second{
    border-color: blue green;
    border-width: 5px;
    border-style: solid;
}
.third{
    border-width: 5px;
    border-style: dashed;
    border-color: red green blue yellow;
}