.one, .two, .three{
    font-family: Arial, Helvetica, sans-serif;
}
.two, .three{
    text-indent: 15px;
}

.one{
    text-transform: uppercase;
}
.two{
    text-transform: capitalize;
}
.three{   
    text-transform: lowercase;
}
