.parent {
    width: 600px;
    height: 300px;
    background-color: #e1e1e1ee;

    display: flex;
    margin: auto;

    flex-wrap: wrap;

    align-content: space-between;
    justify-content: space-between;
}
.parent div {
    background-color: orangered;
    color: white;
    display: flex;

    width: 30%;
    height: 30px;

    justify-content: center;
    align-items: center;

    margin: 10px;
}