.parent{
    background-color: #eee;
    text-align: center;
    width: 350px;
    height: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 0;

    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
}
.parent:hover{
    top: -20px;
}
.child{
    background-color: #d0d0d0;
    text-align: center;
    line-height: 50px;
    height: 50px;
    margin: 20px;
    position: relative;
    top: 0;

    -webkit-transition: top 0.5s 0.5s;
    -moz-transition: top 0.5s 0.5s;
    -o-transition: top 0.5s 0.5s;
    transition: top 0.5s 0.5s;
}
.parent:hover .child{
    top: 20px;
}
